.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.coding_area{
  display: flex;
  min-width: 100vw;
  background-color: #4A4D58;
}

.prism-min {
  min-height: 350px;
  flex: 1;
  overflow-x: hidden;
  background-color: #282C34;
  margin: 10px;
}

.prism-head {
  background-color: #282C34;
  color: white;
  display: block;
  padding: 12px;
  border-bottom: 1px solid #4A4D58;
  border-top: 1px solid #4A4D58;
}

.prism-head:hover {
  background-color: #282C34;
}

.prism-min div {
  background-color: #282C34;
  color: white;
  display: block;
  padding: 12px;
}

.prism-min div:hover {
  background-color: #404550;
}

.prism {
  min-height: 350px;
  flex: 3;
  overflow-x: hidden;
  background-color: #333234;
  margin: 10px;
}

.code {
  bottom: 0;
  position: relative;
  height: 45vh;
  min-width: 100vw;
  border: unset;
}