.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.coding_area{
  display: flex;
  min-width: 100vw;
  background-color: #4A4D58;
}

.prism {
  min-height: 350px;
  width: 100%;
  overflow-x: hidden;
  background-color: #333234;
  margin: 10px;
}

.code {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 45vh;
  border: unset;
}